<html>
    <head><title>Tents and Events RentAll</title></head>
    <body>
        <h1>Home</h1>
        <h2><a href="{% url 'all_products' %}">All products</a></h2>
        
        <ul>
        {% for product in products %}
            <li><a href="{% url 'single_product' product.slug %}">{{ product.name }}</a></li>
        {% endfor %}     
        </ul>


        <h2><a href="{% url 'categories' %}">All categories</a></h2>
        
        <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a>
                <ul>
                {% for subcategories in category.subcategories.all %}
                    <li><a href="{% url 'subcategory' category.slug subcategories.slug %}">{{ subcategories.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}     
        </ul>
    </body>
</html>